 @font-face {
	font-family: Varta;
	src: url(../fonts/varta/Varta-VariableFont_wght.ttf);
 }
 
 * {
	font-family: Varta;
	font-weight: 300;
 }

body {
	margin: 0 auto;
	text-align: center;
	font-family: Varta;

}
li {
	list-style: none;
	line-height: 1.15;
}
.headline {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: lightseagreen;
}
.link-section {
	margin-bottom: 1rem;
}
.navbar-wrapper {
	width:100%;
	background-color: black;
}
.navbar {
	max-width: 900px;
	margin: auto;
	display: flex;
	color: white;
	height: 50px;
	align-items: center;
}
.logo {
	width: 30%;
	text-align: left;
	font-size: 1.4rem;
	margin-left: 1rem;
}
.menu {
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: flex-end;
}
.menu-item {
	margin: 0 1rem 0 0 ;
	font-size: 1rem;
	font-weight: 700;
}
.menu-item:hover {
	color: lightgray;
	cursor: pointer;
}
.navbar a {
	color: white;
}
.menu-icon {
	margin-right: 1rem;
	display: none;
}
.content-wrapper {
	max-width: 900px;
	margin: auto;
}

@media (max-width: 499px) {
	.menu-icon-wrapper {
		width: 70%;
		display: flex;
		justify-content: flex-end;
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}
	.menu {
		display: none;
		flex-direction: column;
		text-align: left;
		background-color: rgba(32, 178, 170, 0.9);
		width: 60%;
		position: absolute;
		right: 0;
		top: 50px;
	}
	.menu.show {
		display: flex;
	}
	.menu-item {
		margin: 0;
		padding: 1rem;
	}
	.menu-item:hover {
		background-color: rgb(32, 178, 170);
		cursor: pointer;
		color: white;
	}
}

