.book-image img {
	height: auto;
}
.book-image,
.book-description {
	display: inline-block;
}
.book-description {
	text-align: left;
	max-width: 700px;
	padding: 0 1rem;
}
.book-wrapper {
	display: inline-flex;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
  max-width: 900px;
}
.border-thick {
  border: 3px solid #9b1921;
  border-radius: 5px;
}
.card-wrapper {
	border-bottom: 1px solid lightgray;
	margin-bottom: 2rem;


}

@media (max-width: 869px) {
	.book-description {
		font-size: 15px;
	}
}
@media (max-width: 719px) {
	.book-description {
		grid-area: description;
		font-size: 1.1rem;
		text-align: center;
	}
	.book-image {
		grid-area: image;
	}
	.book-image img {
		max-width: 100%;
	}
	.book-wrapper {
		display: grid;
		grid-template-areas:
			'image'
			'description';
	}
}
